/* Canvas styling */
.canvas {
    width: 100%;
    height: 500px;
    border: 4px groove gray;
    background-color: powderblue;
    position: relative;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
}

/* Balloon styling */
.ballon {
    position: absolute;
    width: 60px;
    height: 100px;
    margin: 0;
    border: 1px solid black;
    border-radius: 50%;
}

.ballon-red {
    background-color: red;
}

.ballon-yellow {
    background-color: yellow;
}

.ballon-green {
    background-color: green;
}

.dhaga {
    height: 125px;
    width: 1px;
    margin: 0;
    border-left: 1px solid black;
    position: absolute;
    top: 98px;
    left: 30px;
}

/* Ensure the leaderboard has a scrollable list */
#leaderboard {
    background-color: #f8f9fa;
    border: 2px solid #343a40;
    border-radius: 5px;
    padding: 15px;
}

#players-list {
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: scroll;
}

#players-list li {
    background-color: #343a40;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
